*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #6b1281, #3741d1);
}
.conten_navegador {
    border:2px  solid rgb(255, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

}
.conten_navegador .logo_nav{
    position: relative;
    border:2px  solid rgb(255, 0, 0);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 50px;
}
.navegador{
    position: absolute;
    width: 650px;
    border:2px  solid rgb(255, 0, 0);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    top: 250px;    
}
.navegador .option{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 80px;
    color: rgb(0, 0, 0);
    background-image: 
      radial-gradient(ellipse, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 70%),
      url("imagenes/nave.jpeg");
      background-size: cover;
    background-position: center;
    -webkit-mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 70%);
    mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 70%);
    padding: 0 16px;
    cursor: pointer;
}
.navegador .option:hover{
    background-image: 
      radial-gradient(ellipse, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0) 70%),
      url("imagenes/nave.jpeg");
      background-size: cover;
    background-position: center;
    -webkit-mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 70%);
    mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 70%);

}
.logo{
   width: 100%;
   /* border-radius: 50%; */
   mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 60%);
   -webkit-mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 60%);
   mask-image: radial-gradient();
  
}
.text{
    position: absolute;
    top: 65px;
    left: 55px;
}