*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
    min-height: 100vh;
    background: linear-gradient(45deg, #6b1281, #3741d1);
}
.conten_navegador {
    /* border:2px  solid rgb(255, 0, 0); */
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    

}
.conten_navegador .logo_nav{
    position: relative;
    /* border:2px  solid rgb(255, 0, 0); */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 50px;
}
.navegador{
    position: absolute;
    min-width: max-content;
    width: 650px;
    /* border:2px  solid rgb(255, 0, 0); */
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    top: 250px;    
    gap: 20px;
}
.navegador .option{
    gap: 2px;
}
.logo{
   width: 100%;
   /* border-radius: 50%; */
   mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 60%);
   -webkit-mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 60%);
   cursor: pointer;
   transform: rotate(-10deg);
  
}
.text{
    position: absolute;
    top: 65px;
    left: 55px;
    background: radial-gradient();
}
.btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .btn:active {
    scale: 0.92;
  }
  
  .btn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(5, 78, 2, 0.681) 0%, rgba(31, 232, 138, 0.873) 60%);
    color: rgb(4, 4, 38);
  }
  .ola1{
    position: absolute;
    background-color: green;
    width: 100%;
    height: 100%;
    animation: wave 3s ease-in-out infinite;
  }
  .ola2{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    animation: wave2 3s ease-in-out infinite;
  }

  @keyframes wave{
    0%, 100%{
        clip-path: polygon(100% 59%, 90% 46%, 80% 43%, 70% 38%, 61% 39%, 46% 43%, 33% 54%, 19% 58%, 9% 51%, 0 40%, 0 0, 100% 0);
    }
    25%{
        
    }
    50%{
        clip-path: polygon(100% 46%, 91% 68%, 82% 72%, 74% 69%, 59% 57%, 47% 48%, 34% 42%, 21% 39%, 9% 48%, 0 58%, 0 0, 100% 0);
    }
  }
  
  @keyframes wave2{
    0%, 100%{
        clip-path: polygon(100% 46%, 91% 68%, 82% 72%, 74% 69%, 59% 57%, 47% 48%, 34% 42%, 21% 39%, 9% 48%, 0 58%, 0 0, 100% 0);
    }
    25%{
        
    }
    50%{
        clip-path: polygon(100% 59%, 90% 46%, 80% 43%, 70% 38%, 61% 39%, 46% 43%, 33% 54%, 19% 58%, 9% 51%, 0 40%, 0 0, 100% 0);
        
    }
  }
  